{
  "env": {
    "es2021": true,
    "react-native/react-native": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-native/all",
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "plugin:import/typescript",
    "plugin:import/errors",
    "plugin:import/warnings",
    "prettier/@typescript-eslint",
    "prettier"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly",
    "__DEV__": "readonly",
    "jasmine": false,
    "beforeAll": false,
    "afterAll": false,
    "beforeEach": false,
    "afterEach": false,
    "test": false,
    "expect": false,
    "describe": false,
    "jest": false,
    "it": false
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.json",
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    },
    "import/resolver": {
      "typescript": {},
      "node": {
        "extensions": [".ts", ".tsx", ".native.js", ".js", ".jsx"]
      }
    }
  },
  "plugins": ["react", "@typescript-eslint", "react-native", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-filename-extension": [
      "warn",
      { "extensions": [".jsx", ".js", ".ts", ".tsx"] }
    ],
    "import/extensions": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "react/jsx-props-no-spreading": "off",
    "no-param-reassign": "off",
    "no-console": ["error", { "allow": ["tron"] }],
    "react/jsx-closing-bracket-location": 0,
    "no-unused-expressions": 0,
    "@typescript-eslint/no-empty-function": 0,
    "@typescript-eslint/no-unused-vars": 0,
    "no-use-before-define": "off",
    "import/no-cycle": 0,
    "global-require": 0,
    "import/no-mutable-exports": 0,
    "react-native/no-inline-styles": 2,
    "react/prop-types": 0,
    "no-unused-vars": "warn",
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": "error",
    "no-undef": "off"
  }
}
